
<div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <section id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="/main/index">Home</a></li>
      <li><a href="#">Tracks</a></li>
      <li><a href="/main/automation">Automation</a></li>
    </ul>
    <!-- ################################################################################################ -->
    <h6 class="heading">Automation Track</h6>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">

      <!-- ################################################################################################ -->
      <h1>Aloha to the Automation Track page</h1>
      <img class="imgr borderedbox inspace-5" src="http://kino.putc.org/_ld/0/79437141.jpg" alt="">
      <p>While you're sitting here in front of your laptop thinking about lunch, Mark Zuckerberg built an an artificially intelligent, voice-controlled assistant for his home. </p>
      <p>That's okay, keep sitting, but at least get an idea of what is automation and what is the idea behind his house. </p>
      <p>Automation is basically making several things communicate and interact with each other to form an autonomous system that requires littler or no intervention from humans.</p>
      <p>As a proton, you will learn:  </p>

      <ul class="fa-ul">
        <li><i class="fa-li fa fa-gears"></i> Intro into electric engineering </li>
        <li><i class="fa-li fa fa-gears"></i> C Programming</li>
        <li><i class="fa-li fa fa-gears"></i> Prototyping Electronics: Learn how to use both the simple breadboards and the more durable PCBs to model and design your circuits. </li>
        <li><i class="fa-li fa fa-gears"></i> Arduino</li>
        <li><i class="fa-li fa fa-gears"></i>Communication Protocols: Make things chat with each other and understand the role of communication in small
          and large scale autonomous systems. </li>
      </ul>
      <div class="container-article">

        <div class="column">
          <!-- Post-->
          <div class="post-module">
            <!-- Thumbnail-->
            <a href="https://www.livescience.com/59802-should-we-fear-intelligent-robots.html" >
              <div class="thumbnail">
                <div class="date">
                  <div class="day">14</div>
                  <div class="month">Jul</div>
                </div><img src="https://img.purch.com/h/1400/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5My84MzEvb3JpZ2luYWwvcm9ib3QtYXJteS5qcGc="/>
              </div>
              <!-- Pos  t Content-->
              <div class="post-content">
                <div class="category">Robots</div>
                <h1 class="title">Should We Fear The Rise of Intelligent Robots? </h1>
                <h2 class="sub_title"> Robots will unite. </h2>
                <p class="description"></p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div id="comments">
        <h2>Posts</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Write A Comment</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>