
<div class="wrapper bgded overlay" style="background-image:url('http://www.zensoftservices.com/wp-content/uploads/2015/09/Zensoft-Sowftare-Testing-and-Test-Automation-Services-2.jpg');">
  <section id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="/main/index">Home</a></li>
      <li><a href="#">Tracks</a></li>
      <li><a href="/main/automation">Automation</a></li>
    </ul>
    <!-- ################################################################################################ -->
    <h6 class="heading">Automation Track</h6>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">

      <!-- ################################################################################################ -->
      <h1>Aloha to the Automation Track page</h1>
      <img class="imgr borderedbox inspace-5" src="https://www.burniegroup.com/wp-content/uploads/2016/08/automation-930x620.jpg " style="width: 760px;" alt="">
      <p>While you're sitting here in front of your laptop thinking about lunch, Mark Zuckerberg built an an artificially intelligent, voice-controlled assistant for his home. </p>
      <p>That's okay, keep sitting, but at least get an idea of what automation is and what the idea behind his house is. </p>
      <p>Automation is basically making several things communicate and interact with each other to form an autonomous system that requires littler or no intervention from humans.</p>
      <p>As a proton, you will learn:  </p>

      <ul class="fa-ul">
        <li><i class="fa-li fa fa-gears"></i> Intro into electric engineering </li> <br>
        <li><i class="fa-li fa fa-gears"></i> C Programming</li> <br>
        <li><i class="fa-li fa fa-gears"></i> Prototyping Electronics: Learn how to use both the simple breadboards and the more durable PCBs to model and design your circuits. </li> <br>
        <li><i class="fa-li fa fa-gears"></i> Arduino</li> <br>
        <li><i class="fa-li fa fa-gears"></i>Communication Protocols: Make things chat with each other and understand the role of communication in small
          and large scale autonomous systems. </li> <br>
      </ul>
      <div class="wrapper row3">

        <div class="hoc container clear">

          <!-- ################################################################################################ -->
          <div class="sectiontitle">
            <h6 class="heading">Automation Articles</h6>
            <p>Feel free to post about any article you read about or have a discussion.</p>
          </div>
          <div class="group latest">
            <a href="http://blog.esker.com/interesting-automation-facts/">
            <article class="one_third first">
              <figure><a class="imgover" href="#"><img class="article-img" src="http://blog.esker.com/wp-content/uploads/2015/12/automation-facts-e1450734079138.jpg" width="300px" height="250px"  alt=""></a></figure>
              <div class="txtwrap">
                <h4 class="heading">Interesting Automation Facts</h4>
                <ul class="nospace meta">
                  <li><i class="fa fa-user"></i> <a href="#">Samantha Heavner</a></li>
                  <li><i class="fa fa-tag"></i> <a href="#">Automation</a></li>
                  <li><i class="fa fa-calendar"></i> <a href="#">December 23, 2015</a></li>
                </ul>
              </div>
            </article> </a>

            <a href="http://www.businessinsider.com/how-mark-zuckerberg-personal-smart-home-assistant-jarvis-works-2016-12">
            <article class="one_third">
              <figure><a class="imgover" href="#"><img class="article-img"  src="http://www.therealgist.com/wp-content/uploads/2016/12/Mark-Zuckerberg-daily-sun.jpg" width="300px" height="250px"  alt=""></a></figure>
              <div class="txtwrap">
                <h4 class="heading">Mark Zuckerberg's Jarvis</h4>
                <ul class="nospace meta">
                  <li><i class="fa fa-user"></i> <a href="#">Alex Heath</a></li>
                  <li><i class="fa fa-tag"></i> <a href="#">Automation</a></li>
                  <li><i class="fa fa-calendar"></i> <a href="#">December 19, 2016</a></li>
                </ul>
              </div>
            </article> </a>

            <a href="http://education.penelopetrunk.com/2016/07/05/the-best-careers-for-kids-will-emerge-from-widespread-automation/">
            <article class="one_third">
              <figure><a class="imgover" href="#"><img class="article-img" src="http://blog.penelopetrunk.com/cdn/mirror-glazed-cake-blue-donut-olga-noskova-2-blogsize.jpg" width="300px" height="250px" alt=""></a></figure>
              <div class="txtwrap">
                <h4 class="heading">The best careers for kids will emerge from widespread automation</h4>
                <ul class="nospace meta">
                  <li><i class="fa fa-user"></i> <a href="#">Penelope Trunk</a></li>
                  <li><i class="fa fa-tag"></i> <a href="#">Automation</a></li>
                  <li><i class="fa fa-calendar"></i> <a href="#">July 5, 2016</a></li>
                </ul>
              </div>
            </article> </a>

          </div>
          <!-- ################################################################################################ -->
        </div>
      </div>

      <div id="comments">
        <h2>Posts</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Write A Comment</h2>
        <%= link_to 'New Post', new_post_path %>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>