
<div class="wrapper bgded overlay" style="background-image:url('http://www.freebiesgallery.com/wp-content/uploads/2014/04/geometric-backgrounds-520x245.gif');">
  <section id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="/main/index">Home</a></li>
      <li><a href="/main/gallery">Gallery</a></li>
      <li><a href="/main/gallery_3">Opening Ceremony</a></li>
    </ul>
    <!-- ################################################################################################ -->
    <h6 class="heading">Gallery</h6>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">

      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading"> Opening Ceremony (2017)</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16832046_1253113728089736_1789671718693768419_n.jpg?oh=8b43a13e1636c7d6fa9a17db13b9d2cd&oe=5A2E79B8" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16831092_1253113578089751_2401334999157704674_n.jpg?oh=1e86d254e0895590770dd880bf8a6f6a&oe=5A1C14C0" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16649409_1253115468089562_4139584022247170766_n.jpg?oh=34eb440f3a5fcbcf229af0f3a7df39b5&oe=5A1348C2" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16711886_1253115134756262_1940535901234710066_n.jpg?oh=a48009de594ce798be3e67e693cd2061&oe=5A2BB83C" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16807640_1253119428089166_1588041318898421065_n.jpg?oh=33ad05a1e3fbfcff8f386260cc6115be&oe=5A2C636D" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16832321_1253116798089429_4221859246486588709_n.jpg?oh=d0fe65e3ed3757f1fff52f7198b6f177&oe=5A5D8AD0" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16681607_1253118308089278_860012481985533604_n.jpg?oh=5b2bf9815e66d3cfee828c51455e2910&oe=5A1754E3" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16681583_1253110818090027_3924748659874368073_n.jpg?oh=6566afdca3dff8bebde858f77c30cf3b&oe=5A600ABA" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16807647_1253121608088948_3895012198223832676_n.jpg?oh=664511d57c16ebe2a9f811929c54c661&oe=5A2610DA" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16806812_1253115424756233_1110998943918065117_n.jpg?oh=86d4c89be8d4665acad82ea8b1991bb5&oe=5A150FFF" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16832161_1253113488089760_2504290731412580696_n.jpg?oh=00f8d5a9c4d82fb5ffff832bf63aa3a6&oe=5A16B544" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img class="gallery-img" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/16806817_1253110218090087_7387843023023337720_n.jpg?oh=c3a343631d5869154483714db625e3b1&oe=5A15041E" alt=""></a></li>
          </ul>

          <figcaption>For the full album, <a href="https://www.facebook.com/media/set/?set=a.1253109301423512.1073741876.419134138154370&type=3">click here</a>.</figcaption>

        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a href="/main/gallery_2">&laquo; Previous</a></li>
          <li > <a href="/main/gallery">1</a></li>
          <li><a href="/main/gallery_2">2</a></li>
          <li class="current"><strong>3</strong></li>
          <li><a href="/main/gallery_4">4</a></li>
          <li><a href="/main/gallery_4">Next &raquo;</a></li>

        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
