<div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <section id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="/main/index">Home</a></li>
      <li><a href="#">Tracks</a></li>
      <li><a href="/main/programming">Programming</a></li>
    </ul>
    <!-- ################################################################################################ -->
    <h6 class="heading">Programming Track</h6>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">

      <!-- ################################################################################################ -->
      <h1>Hello World! I mean..Programmers!</h1>
      <img class="imgr borderedbox inspace-5" src="http://kino.putc.org/_ld/0/79437141.jpg" alt="">
      <p>Are you ready to make a new friend? A new, unique friend? Of course you are! That's why you came here. This awesome friend is the computer
        . However, you guys can't really communicate with each other normally; you both speak different languages. Don't worry though, our
        programmer-ancestors created languages that connect us with the computers, making us enter a whole new world of technology.</p>
      <p>Being a programmer allows you to build games, mobile applications, websites, and much more! You see how the computer is such an awesome friend?</p>
      <p>A programmer is able to solve any problem by taking it step by step, thinking critically and finding the shortest and the most accurate solution possible.</p>
      <p>As a programmer in Protons, you will learn:  </p>

      <ul class="fa-ul">
        <li><i class="fa-li fa fa-code"></i> Computational Thinking</li>
        <li><i class="fa-li fa fa-code"></i> Python</li>
        <li><i class="fa-li fa fa-code"></i> Scratch: Understand the key concepts of programming in any language and clone one of the
          most popular games with MIT Media Lab's <a href="https://scratch.mit.edu">Scratch</a></li>
        <li><i class="fa-li fa fa-code"></i> Algorithms: Dive deep into Python while learning about a set of recipes to problems, called algorithms.</li>
        <li><i class="fa-li fa fa-code"></i> <p>OOP: Improve your game design using Object Oriented Programming.</p> </li>
      </ul>
      <p>Now, do you know why real programmers start counting from 0? Not yet? You will find out when you become a Proton. </p>
      <div class="wrapper row3">

        <div class="hoc container clear">

          <!-- ################################################################################################ -->
          <div class="sectiontitle">
            <h6 class="heading">Mauris eget commodo tellus</h6>
            <p>Imperdiet urna non iaculis vestibulum sapien purus dignissim</p>
          </div>
          <div class="group latest">
          <a href="https://visual.ly/community/infographic/technology/history-computer-programming">
            <article class="one_third first">
              <figure><a class="imgover" href="#"><img src="http://codingbasics.net/wp-content/uploads/2014/04/computer-programming-351x185.jpeg" alt=""></a></figure>
              <div class="txtwrap">
                <h4 class="heading">An Overview of Computer Programming</h4>
                <ul class="nospace meta">
                  <li><i class="fa fa-user"></i> <a href="#">Maggie</a></li>
                  <li><i class="fa fa-tag"></i> <a href="#">Programming</a></li>
                  <li><i class="fa fa-comments"></i> <a href="#">April 18, 2011</a></li>
                </ul>
              </div>
            </article></a>

            <a href="https://imasters.com/development/15-facts-about-programming-you-probably-did-not-know/?trace=1519021197&source=single">
            <article class="one_third">
              <figure><a class="imgover" href="#"><img src="https://imasters.com/wp-content/uploads/sites/24/2016/09/0_Capa.jpg" alt=""></a></figure>
              <div class="txtwrap">
                <h4 class="heading">15 facts about programming you probably did not know</h4>
                <ul class="nospace meta">
                  <li><i class="fa fa-user"></i> <a href="#">Mauro Pichiliani</a></li>
                  <li><i class="fa fa-tag"></i> <a href="#">Programming</a></li>
                  <li><i class="fa fa-comments"></i> <a href="#">May 5, 2016</a></li>
                </ul>
              </div>
            </article> </a>
              <a href="https://thenextweb.com/insider/2016/02/26/8-facts-every-computer-programmer-should-know/#.tnw_4OUTkMTP">
            <article class="one_third">
              <figure><a class="imgover" href="#"><img src="https://www.techworm.net/wp-content/uploads/2016/03/computer-programmers-job-description-salaries-695x336.jpg" alt=""></a></figure>
              <div class="txtwrap">
                <h4 class="heading">8 Facts Every Programmer Should Know</h4>
                <ul class="nospace meta">
                  <li><i class="fa fa-user"></i> <a href="#">TNW Deals </a></li>
                  <li><i class="fa fa-tag"></i> <a href="#">Programming</a></li>
                  <li><i class="fa fa-comments"></i> <a href="#">Feb 26, 2016</a></li>
                </ul>
              </div>
            </article></a>
          </div>
          <!-- ################################################################################################ -->
        </div>
      </div>

      <div id="comments">
        <h2>Posts</h2>
        <ul>
          <li>
            <article>
              <header>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <address>

                  By <a href="#">A Name</a>

                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Write A Comment</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>