<!DOCTYPE html>
<html>

<head>
  <title>Protons</title>
  <%= csrf_meta_tags %>


  <%= stylesheet_link_tag 'default', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>


  <link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <script src="/layout/scripts/jquery.min.js"></script>
  <script src="/layout/scripts/jquery.backtotop.js"></script>
  <script src="/layout/scripts/jquery.mobilemenu.js"></script>
</head>

<body>

<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <h1><a href="/main/index"><img src="http://protons.alexsb.org/media/protons-black.png" alt="Logo"></a></h1>
    <!-- ################################################################################################ -->
  </header>
</div>
<div class="wrapper row4">
  <nav id="mainav" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/main/index">Home</a></li>
      <li><a href="/main/gallery">Gallery</a>
      </li>
      <li><a class="drop" href="#">Tracks</a>
        <ul>
          <li><a href="/main/robotics">Robotics</a></li>
          <li><a href="/main/programming"> Programming </a></li>
          <li><a href="/main/automation">Automation</a></li>
        </ul>
      </li>
      <% unless current_user %>
      <li><a href="/users/sign_up">Join Us</a></li>
      <% end %>

      <% if current_user %>
          <li><a href="/users/edit">Profile</a></li>
      <% end %>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>

<%= yield %>

<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Find Us At</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Faculty of Engineering Alexandria university, Electrical Engineering building ground floor <br> Alexandria,
            Egypt
          </address>
        </li>
        <li><i class="fa fa-phone"></i> (+20) 111-424-2927</li>
        <li><i class="fa fa-envelope-o"></i> info@alexsb.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="https://www.facebook.com/ProtonsAlexSB/"><i class="fa fa-facebook"></i></a>
        </li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Latest Tech News</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1">
              <a href="http://www.roboticstrends.com/article/robobusiness_speaker_automate_or_die">RoboBusiness Speaker:
                'Automate or Die'</a></h2>
            <time class="font-xs block btmspace-10" datetime="2017-08-22">Tuesday, 22<sup>nd</sup> August 2017</time>
            <p class="nospace">RoboBusiness speaker Daniel Theobald, co-founder and chief innovation officer of Vecna,
              says until recently, large-scale use of mobile robotics in industry was still aspirational. But now, given
              increasing consumer expectations and global competition, "automate or die” is becoming an accepted idea in
              business.[&hellip;]</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Smart Computers Decode Brain Activity</a></h2>
            <time class="font-xs block btmspace-10" datetime="2017-08-17">Thursday, 17<sup>th</sup> August 2017</time>
            <p class="nospace">Artificial neural networks decode brain activity during performed and imagined movements[&hellip;]</p>
          </article>
        </li>
      </ul>
    </div>


    <div class="one_third">
      <h6 class="heading">Contact Us</h6>
      <p class="nospace btmspace-30">We are happy to receive any questions or suggestions from you.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <input class="btmspace-15" type="text" value="" placeholder="Message">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Protons</a></p>
    <p class="fl_right">Template by
      <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
</body>

</html>
